:global{
  @keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
      opacity: 0.5;
      transform: scale3d(.7, .7, .7);
    }

    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
      transform: scale3d(.9, .9, .9);
    }

    60% {
      opacity: 1;
      transform: scale3d(1.01, 1.01, 1.01);
    }

    80% {
      transform: scale3d(.99, .99, .99);
    }

    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
}

:global {
  @keyframes hide {
      from {
        max-height: 0;
      }

      to {
        max-height: 1200px;
      }
    }
}