@import './../../styles/pallette.scss';
@import './../../styles/animations.scss';

.accordionHeader {
  color: $ebony-clay;
  background-color: $wild-sand;
  display: block;
  border: 1px solid $french-gray;
  padding: 5px;
  margin: 2px 0px;
  text-decoration: none;
}

.accordionChildrenClass {
  padding: 0px 0px 0px 15px;
  max-height: 0px;
}

.hidden {
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  animation-name: hide;
}
